.root {
    -fx-font-size: 2.2em;
    -fx-background-color: darkgray;
}

.dialogs {
    -fx-font-size: 2.2em;
    -fx-background-color: #f1f1f1;
}


.area {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 10;
    -fx-padding: 3;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}