.root {
    -fx-font-size: 1em;
    -fx-background-color: darkgray;
}


.area {
    -fx-background-color: white;
    -fx-border-color: gray;
    -fx-border-width: 10;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}